.main{
    flex: 1;
    height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}

.main .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.main .nav img {
    width: 40px;
    border-radius: 50%;
}

.main-container {
    max-width: 900px;
    margin: auto;
}

.main .greet {
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}

.main .greet span {
   background:linear-gradient(16deg, #4b90ff, #ff5546);
   background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
}

.main .card {
    height: 200px;
    padding: 15px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.main .card img {
width: 35px;
padding: 5px;
position: absolute;
background-color: white;
border-radius: 20px;
bottom: 10px;
right: 10px;
}

.main .card p {
    color: #585858;
    font-size: 17px;
}

.main .card:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.main-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    margin:5px;
    padding:0px 20px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    background-color: #f0f4f9;
    padding: 10px 15px;
    border-radius: 50px;
}

.search-box img {
    width:22px;
    cursor: pointer;
}

.search-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 8px;
}

.search-box div {
    display: flex;
    align-items: center;
    gap: 15px;
}

Bottom-info {
    font-size: 10px;
    margin:15px auto;
    text-align: center;
    font-weight: 300;
}